.loginPage{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & button{
      
      
      width: 200px;
    }
   
}

  .centerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin-bottom: 2vh;
    color: #f9f9f9;
    padding: 64px;


    >img{
      width: 800px;
    }
  }
  
  .btnBackLink:hover{
    background: #75000B;
  }
 
  .btnBackLink{
    padding: 16px;
    width: 200px;
    display: flex;
    justify-content:center  ;
    align-items: centyer;
    background-color: rgba(250, 235, 215, 0.151);
    border-radius: 8px;
    color: white;
    text-decoration: none;
    transition: .25s ease;
  }
  .ws{
    top:92%;
    left: 1%;
    position: absolute;
    height: 60px;
  }


  .ws{
 
    background-size: cover;
    text-indent: -9999px; /* Oculta el texto del enlace */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono */
    transition: transform 0.4s ease; /* Agrega una transición de escala */
  }

  .ws:hover {
    transform: scale(1.1);
    border-radius: 50%;
}
.buttonsContainer{
  display: flex; 
  gap: 16px;
  padding: 0px 64px;

}
