.ldsHourglass {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 10px;
  }
  .ldsHourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 9px solid #fff;
    border-color: #fffffff8 transparent #fffffff8 transparent;
    box-shadow: 0px 0px 25px 1px #ffffff94;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  