@import '../../varCss/fonts.module.css';
@import '../../varCss/colors.module.css';

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 128px;
  padding: 16px;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(249, 249, 249, 0.15) 0%,
    rgba(249, 249, 249, 0.03) 100%
  );
  box-shadow: 5px 5px 10px 0px #0000001a;
  position: relative;
}
.tomateLogo {
  margin-left: 1vw;
}
.userContainer span {
  width: 140px;
}
.right {
  display: flex;
  margin-right: 1.5vw;
}
/* right */
.right {
  width: 756.02px;
  height: 48px;
  gap: 32px;
  align-items: center;
  flex-grow: 0;
}
.input {
  position: relative;
  display: flex;
  align-items: center;
  padding: 12px, 32px, 12px, 32px;
  border-radius: 8px;
  gap: 10px;
  background: #f9f9f91a;
  width: 35vw;
}
.search {
  width: 370px;
  height: 48px;
  padding: 12px, 32px, 12px, 32px;
  border-radius: 8px;
  gap: 10px;
  background: none;
  border: none;
  outline: none;
  color: var(--color-white);
  font-size: var(--font-size-small);
}
input[type='search']::-webkit-search-clear-button {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  color: white !important; /* Cambia el color a blanco */
}
.tools {
  width: 244.02px;
  height: 48px;
  gap: 16px;
}
.noti {
  width: 18.67px;
  height: 24px;
  top: 12.5px;
}
.avatar {
  border-radius: 50px;
}
.searchIcon {
  width: 17.05px;
  height: 17.06px;
  margin-left: 18px;
}
.userContainer {
  display: flex;
  align-items: center;
  width: 300px;
  gap: 10px;
  justify-content: center;
  font-size: var(--font-size-small);
}
.closeIcon,
.closeIconHidden {
  position: absolute;
  left: 95%;
}
.closeIconHidden {
  display: none;
}
