@import "../../../../varCss/fonts.module.css";


.saveButton{
    width: 115px;
    height: 48px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 8px;
    gap: 8px;
    color: aliceblue;
    background: rgba(153, 0, 15, 1);
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: 300ms;
}
.saveButton:hover{
    filter: brightness(.85);
}

.tittle{
    border: none;
    color: White;
    display: flex;
    justify-content: space-between;
    width: 1482px;
}
.section{
    display: flex;
    justify-content: space-evenly;
    width: 1,490px;
    height: 720px;
    gap: 32px;
}

.containerOne{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 480px;
    height: 100%;
}
.tittles{
    display: flex;
    justify-content: space-around;
}

.employees,
.profiles,
.employeesTwo,
.profilesTwo{
    width: 240px;
    height: 54px;
    padding: 16px, 32px, 40px, 32px;
    border-radius: 16px, 16px, 0px, 0px;
    display: grid;
    place-content: center;
    background-color:rgba(249, 249, 249, 0.15) ;
    cursor: pointer;
}
.employees,
.profilesTwo{
    background-color: transparent;
}
.profiles,
.employeesTwo{
    border-radius: 8px 8px 0px 0px;
}


.contentContainer,
.contentContainerTwo{
    height: 100%;
    position: relative;
    display: grid;
    place-content: center;
    background: linear-gradient(180deg, rgba(249, 249, 249, 0.15) 0%, rgba(249, 249, 249, 0.03) 100%);
    border-radius: 0px 8px 8px 8px;
}
.contentContainerTwo{

    >div{
    padding: 16px;

    >div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
}
.contentContainerTwo{
    border-radius: 8px 0px 8px 8px;


}
.list{
    width: 448px; 
    height: 630px; 
    overflow: auto;
    background: rgba(249, 249, 249, 0.1);
    border-radius: 8px;
  
}
.item{
    margin: 8px;
    font-size: var(--font-size-small);
    font-weight: 200;
    display: flex;
    transition: 200ms;
    cursor: pointer;
    
}
.item:hover{
    font-weight: 400; 
}
.sectionTwo{
    width: 970px;
    height: 100%px;
    gap: 32px;

}
.inContainerOne,
.inContainerTwo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inContainerOne{
    width:394px;
    height: 100%;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    background: linear-gradient(180deg, rgba(249, 249, 249, 0.15) 0%, rgba(249, 249, 249, 0.03) 100%);
    overflow-y: auto;

}
.inContainerTwo{ 
    width:544px;
    height: 100%;
    padding: 16px;
    border-radius: 16px;
    gap: 16px;
    background: linear-gradient(180deg, rgba(249, 249, 249, 0.15) 0%, rgba(249, 249, 249, 0.03) 100%);
}
.inListOne{
    width: 362px;
    height: 224px;
    padding: 16px;
    border-radius: 8px;
    background: rgba(249, 249, 249, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}
.inListTwo{
    width: 362px;
    height: 410px;
    border-radius: 8px;
    padding: 16px;
    gap: 8px;
    background: rgba(249, 249, 249, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
}
.tittleOne{
    font-size: var(--font-size-medium);
    margin-left: -110px;
}
.tittleTwo{
    font-size: var(--font-size-medium);
}
.head{
    width: 512px;
    height: 86px;
    gap: 16px;
}
.inListThree,
.inListThreeActions{
    width: 512px;
    height: 658px;
    padding: 16px 0px 0px 16px;
    border-radius: 8px;
    background: rgba(249, 249, 249, 0.1);
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid white;
}
.inListThreeActions{
    border: 1px solid red;
}
.allButton{
    width: 152px;
    height: 48px;
    padding: 12px, 16px, 12px, 16px;
    border-radius: 8px;
    gap: 8px;
    background: rgba(249, 249, 249, 0.2);
    color: #f9f9f9;
    border: none;
    outline: none;
    margin:16px 0;
    transition: 300ms;
}
.allButton:hover{
    filter: brightness(.85);
}
.inputOne,
.inputTwo{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 330px;
    height: 48px;
    border-radius: 8px;
    transition: .2s ease;
    padding: 8px;
}
.inputTwo{
    display: inline-block;
    width: 155px;
    text-align: center;
}

.screen{
    .check{
        margin-right: 10px;
    }
    
    input[type=checkbox]{
        appearance: none; 
        -webkit-appearance: none;
        -moz-appearance: none; 
        width: 24px;
        height: 24px;
        border-radius: 6px;
        background: rgba(249, 249, 249, 0.2);
        cursor: pointer;
    
    }

    input[type="checkbox"]:before {
        content: '\2713'; 
        font-size: 20px;
        font-weight: 999;
        color: white;
        display: block;
        text-align: center;
        line-height: 22px;
        visibility: hidden; 
      }

      input[type="checkbox"]:checked:before {
        visibility: visible;
}


.label,
.labelTwo{
    font-weight: 200;
    font-size: var(--font-size-small);
}



  }
.labelTwo{
    margin-top: 15px;
}
.itemCode{
    display: flex;
}
/* Para crhome y safari */
::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent; 

    
  }
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff57; 
    border-radius: 5px; 
    
  }
  /* Para mozilla firefox */
  ::-moz-scrollbar {
    width: 10px; 
  }
  ::-moz-scrollbar-thumb {
    background-color: #ffffff57; 
    
    border-radius: 5px; 
  }
 
::-moz-scrollbar-track {
  background-color: transparent;
}
  
/* Hovers */
.inputOne:hover{
    background-color: #f9f9f91f;

} 