@import "./varCss/colors.module.css";
@import "./varCss/fonts.module.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
  }

  
  body{
    font-family: "tomate-font", sans-serif;

    color: var(--color-white);
    background-color: var(--color-primary);
    font-size: var(--font-size-medium);

    & input{
      border: none;
      outline: none;
     
    }
  }
  button{
    font-family: "tomate-font", sans-serif;
    font-size: var(--font-size-small);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: none;
    outline: none;
    transition: .2s ease;
    border-radius: 8px;
    background: #F9F9F933;
    padding: 16px;
    color: rgb(247, 245, 243);
    cursor: pointer;
    max-height: 48px;
    font-weight: 200;

  }
  button:hover{
    filter: brightness(0.80);
  }
  
  input[type="radio"] {
    /* Estilos generales */
    margin-right: 5px;
    width: 22px !important;
    height: 22px !important; 
    opacity: 0.5;
    filter: grayscale(1);
  }

   /* Select styles */
   .customSelect{
    position: relative;
    height: 56px;
    background: rgba(249, 249, 249, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 6px;
   
  }
  .selectTrigger {
    cursor: pointer;
    border-radius: 4px;
    width: 95%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: var(--font-size-small);
  }
  .options {
    position: absolute;
    background-color: var(--color-gray-hover);
    top: 120%;
    left: 0;
    width: 100%;
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: #333;
    font-size: var(--font-size-small);
    z-index: 9999;
  }
  
  .customSelect:hover .options  {
    display: block;
    display: flex;
    flex-direction: column;
  }
  .hidden{
    display: none;
  }
  .option {
    padding: 12px;
    cursor: pointer;
    border-bottom: 1px solid #33333333;
    width: 100%;
    display: flex;
    justify-content: flex-start;
  
  }
  /* //////////////*/
  
