@import "../../../../varCss/fonts.module.css";
@import "../../../../varCss/colors.module.css";

.container{
  display: flex;
  flex-direction: column;
  height: 100%;

  th{
    font-size: var(--font-size-small);

  }
}

.head{
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin-bottom: 8px;

}

/* main section */
.mainSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1,482px;
  padding: 16px, 0px, 16px, 0px;
  border-radius: 16px;
  background: linear-gradient(180deg, rgba(249, 249, 249, 0.15) 0%, rgba(249, 249, 249, 0.03) 100%);
  margin-bottom: -8px;

}
.mainHead{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99.5%;
  height: 48px;
  padding: 0px, 32px, 0px, 32px;
  justify-content: space-between;
  margin: 1.5vh 0;
}
.mainHeadLeft{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 20px;
}
.searchContainer{
  display: flex;
  margin: 0 20px;
  gap: 10px;
}
.showSelect{
  width: 92px;
  height: 40px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  background: #F9F9F91A;
  text-indent: 15px;
  color: #f9f9f980;
  border: none;
  outline: none;
} 
.showSelect{
  transition: 500ms; 
}

.categoryButton,
.sellTypeButton,
.stateButton{
  width: 134px;
  height: 48px;
  padding: 12px, 16px, 12px, 16px;
  border-radius: 8px;
  gap: 8px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border: none;
  background: #F9F9F933;
  color: #f9f9f9;
}
.stateButton{
  width: 110px;
}
.searchBarTable{
  width: 480px;
  height: 48px;
  padding: 12px, 16px, 12px, 16px;
  border-radius: 8px;
  gap: 10px;
  background: #F9F9F91A;
  display: flex;
  align-items: center;
}
.searchBarTableInput{
  width: 100%;
  height: 80%;
  text-indent: 5ertpx;
  background: transparent;
  border: none;
  outline: none;
  color: #f9f9f9;
}
.searchIcon{
  width: 17.05px;
  height: 17.06px;
  margin-left: 15px;
}


/* toggle Fullscreen */
@media (max-height: 1050px) {
 .tableContainer{
  height: 520px;
 }

 .mainSection{
  margin-bottom: -10px;
 }
}

.table{
  border-collapse: separate;
  border-spacing: 0 1px;
  background: #F9F9F980;
  border-radius: 8px;
  margin: 25px;
  width: auto;
  font-size: var(--font-size-small);

  >thead>tr>th{
    text-align: left;
    text-indent: 8px;
    background-color: #F9F9F966;
    width: 464px;
    height:56px;
    padding: 16px;
    gap: 8px;
    white-space: nowrap;
  }

  >thead>tr>th:first-child{
    border-radius: 8px 0px 0px 0px;
  }

  >thead>tr>th:last-child{
    border-radius: 0px 8px 0px 0px;
  }

  >tbody>tr>td{
    text-align: left;
    text-indent: 8px;
    height:56px;
    padding: 16px;
    border-top: 1px solid #f9f9f998;  
  }

  >tbody>tr:last-child>td{
    border-bottom: 1px solid #6e6d6db9;
  }
  >tbody>tr{
    transition: 250ms;
  }

  >tbody>tr:hover{
      background-color: var(--color-hover-row);
  }
  >tbody>tr>td:first-child{
    border-radius: 0px 0px 0px 8px;
  }

  >tbody>tr>td:last-child{
    border-radius: 0px 0px 8px 0px;
  }
}

td>button{
  width: 80px;
  height: 32px;
  border-radius: 8px;
  transition: 200ms;
  background: var(--color-green-button);
}

.downloadButton,
.closedButton{
  background-color: var(--color-gray-medium);
}
.conflictButton{
  background-color: var(--color-accent-red-primary);
}



